= breadcrumbs({name: "Actores", path: actores_path}, {name: actor.to_s, path: actor_path(actor)}, {name: iniciativa.to_s, path: actor_iniciativa_path(actor, iniciativa)}, "Editar")

h2 = actor

h3 Editar iniciativa

= render "form"
