h2 = link_to actor, actor_path(actor)

.pull-right
  = link_to "", edit_actor_iniciativa_path(actor, @iniciativa), class: "btn btn-default btn-xs glyphicon glyphicon-edit"

h3 = @iniciativa
= GitHub::Markdown.render(@iniciativa.descripcion).html_safe

hr

= render "grupo_preguntas/show"

.pull-right
  = link_to "", new_actor_iniciativa_respuesta_path(actor, @iniciativa, grupo_preguntas_id: params[:preguntas]), class: "glyphicon glyphicon-edit btn btn-default"
