h2 = link_to @actor, actor_path(@actor)

.pull-right
  = link_to "", edit_actor_iniciativa_path(@actor, @iniciativa), class: "btn btn-default btn-xs glyphicon glyphicon-edit"

h3 = @iniciativa
= GitHub::Markdown.render(@iniciativa.descripcion).html_safe
