h1 ¡Bienvenido!

p Por favor llena el siguiente formulario para crear tu cuenta:

= simple_form_for @user, url: invitation_path(@user.invitation_token) do |f|
  = render "users/fields", f: f, selfie: true
