.actores-list
  .actor
    margin: 0.5em 0
    display: block
    height: 90px
    position: relative
    border-bottom: 1px solid #eee
    .nombre
      display: block
      top: 10px
      font-size: 22px
      position: absolute
      left: 100px
    .acronimo
      position: absolute
      left: 100px
      top: 40px
    .image
      text-align: center
      display: inline-block
      width: 100px
      img
        max-width: 80px
        max-height: 80px
