#form-not-saved
  font-size: 14px

.pregunta-option
  margin-left: 5px
  label
    margin-left: 5px
  .field_with_errors
    display: inline-block
  .textarea-wrapper .field_with_errors
    display: block

.show-preguntas
  .pregunta
    font-weight: bold
  .answer
    margin-left: 1em
    font-size: 16px
    margin-bottom: 1em
    ul
      padding-left: 1em
