#form-not-saved
  font-size: 14px

.pregunta-option
  margin-left: 5px
  label
    margin-left: 5px
  .field_with_errors
    display: inline-block
  .textarea-wrapper .field_with_errors
    display: block
