.user-list
  .user
    margin: 1em 0
    border-bottom: 1px solid #eee
    .user-image
      text-align: right
    .nombres
      font-size: 1.1em
    .label
      margin-left: 0.5em
    img
      max-width: 40px
      max-height: 40px
      border-radius: 50%
