= breadcrumbs({name: "Actores", path: actores_path}, actor.to_s)

h2 = actor

= render "iniciativas"

hr

= render "grupo_preguntas/show"

.pull-right
  = link_to "", new_actor_respuesta_path(actor, grupo_preguntas_id: params[:preguntas]), class: "glyphicon glyphicon-edit btn btn-default"
